---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MainSection from '../components/MainSection.astro';
import SecondSection from '../components/SecondSection.astro';
import ThirdSection from '../components/ThirdSection.astro';

---

<Layout title="Zalee">
	<Header></Header>
    <main>
        <MainSection></MainSection>
    </main>
    <Footer></Footer>
</Layout>